.app_container{
    display: flex;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
main{
    display: flex;
    padding:10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
a{
    color:black
}
a:hover{
    color:blue;
    text-decoration: none;
}